/* Site-Wide Style Sheet */

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Lora|Nunito&display=swap');

/*
font-family: 'Big Shoulders Text', cursive;
font-family: 'Lora', serif;
font-family: 'Nunito', sans-serif;
 */

 body {
    margin: 0;
    padding: 100;
    /*background-image: url('../images/background.png');*/
    background-size: cover;
    background-color: white;
  }
  
  nav {
    overflow: hidden;
    background-color: #333;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: .2em 2em;
    float: right;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0;
    padding: .2em .7em;
  }
  
  nav a {
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  nav a:hover {
        background-color: #ddd;
        color: black;
  }
  
  .nav-bg {
    content: '';
    position: absolute;
    display: block;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(50, 50, 50);
    transition: .45s ease-in-out;
  }
  
  .bg-hidden {
    top: -100%;
    opacity: 0;
  }
  
  .bg-visible {
    top: 0;
    opacity: 1;
  }
  
  h1 {
    text-align: center;
    font-family: Ubuntu;
    letter-spacing: 1px
  }
  
  .hero {
    position: relative;
    width: 100%;
    height: 500px;
    background: rgb(50, 50, 50);
    background: url() no-repeat 50% 50% fixed;
    background-size: 130%;
    overflow: hidden;
  }
  
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: .3em;
    font-size: 3em;
    font-weight: lighter;
  }
  
  .content-wrapper {
    width: 80%;
    height: 3000px;
    padding: 1em 10%;
  }
  
  .content-wrapper h1 {
    margin: 0;
    color: rgb(220, 120, 0);
  }
  
  .content-wrapper p {
    font-family: "Open Sans";
    text-indent: 1.5em;
  }

  footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }


/* Style the header */
header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: left;
    border-image-width: 50%;
  }

  /* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }