{% load static %}
    <!--==============================
                Stuck menu
    =================================-->
    <!--<h1 class="logo"></h1>-->
    <div class="container_12">
        <div class="grid_12">          
          <div class="navigation">
            <nav>
              <ul class="sf-menu">
               <li {% if '/' == request.path %}
                  class="current"
                  {% else %}
                  class=""
                  {% endif %}
               ><a href="{% url 'index' %}">Home</a></li>
               <li
               {% if 'member' in request.path %}
               class="current"
               {% else %}
               class=""
               {% endif %}
               ><a href="{% url 'member' %}">Become a Member</a></li>
               <li
               {% if 'bookmass' in request.path %}
                  class="current"
                  {% else %}
                  class=""
                  {% endif %}
               ><a href="{% url 'bookmass' %}">Book For Mass</a></li>
               <li
               {% if 'baptism' in request.path %}
               class="current"
               {% else %}
               class=""
               {% endif %}
               ><a href="{% url 'baptism' %}">Register For Baptism</a></li>
               <li
               {% if 'enquiry' in request.path %}
               class="current"
               {% else %}
               class=""
               {% endif %}
               ><a href="{% url 'enquiry' %}">Make Enquiry</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>       
         <div class="clear"></div>  
     </div> 
     <div class="clear"></div>
    </div> 
  </section>
</header>
