{% load static %}
    <!--==============================
                Stuck menu
    =================================-->
    <h1 class="logo"></h1>
    <div class="container_12">
        <div class="grid_12">          
          <div class="navigation">
            <nav>
              <ul class="sf-menu">
               <li {% if '/' == request.path %}
                  class="current"
                  {% else %}
                  class=""
                  {% endif %}
               ><a href="{% url 'index' %}">Home</a></li>
               <li
               {% if 'about' in request.path %}
                  class="current"
                  {% else %}
                  class=""
                  {% endif %}
               ><a href="{% url 'about' %}">Mass Booking</a></li>
               <li><a href="mission.html">Infant Baptism</a></li>
               <li><a href="mission.html">Become a Member</a></li>
               <li><a href="contacts.html">Enquiries</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>       
         <div class="clear"></div>  
     </div> 
     <div class="clear"></div>
    </div> 
  </section>
</header>
<section class="slider_wrapper">
  <div id="camera_wrap" class="">
   <div data-src="{% static 'img/slide.jpg' %}"></div>
    <div data-src="{% static 'img/slide1.jpg' %}"></div>
    <div data-src="{% static 'img/slide2.jpg'' %}"></div>  
  </div>  
</section> 