{% load static %}

<!--==============================
              header
=================================-->
<header>

    <div class="container_12">
      <div class="grid_12"> 
        <!--<div>
              Welcome, John Doe
        </div>-->
        
          <ul class="sf-menu">
            {% if user.is_authenticated %}
  
                <li
                {% if 'dashboard' in request.path %}
                class="current"
                {% else %}
                class=""
                {% endif %}
                ><a href="{% url 'dashboard' %}">Welcome, {{ user.first_name }} (DashBoard)</a></li>

                <li>
                <a href="javascript:{document.getElementById('logout').submit()}">
                <i></i> Logout
                </a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
                </li>
        
            {% else %}
            <li
            {% if 'login' in request.path %}
            class="current"
            {% else %}
            class=""
            {% endif %}
            ><a href="{% url 'login' %}">Login</a></li>
            <li
            {% if 'register' in request.path %}
            class="current"
            {% else %}
            class=""
            {% endif %}
            ><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
       
          
        <h1 class="logo">
         <img src="{% static 'img/stcharles1004.jpg' %}" alt=" " style="width: 7%;max-height: 7%" />
          <a href="{% url 'index' %}">
            ST. CHARLES BORROMEO CATHOLIC CHURCH
            <img src="{% static 'img/stcharles1004.jpg' %}" alt=" " style="width: 7%;max-height: 7%" />
            <span>1004 Estates, VI, Lagos</span>
          </a>         
        </h1>
    
      </div>
      <div class="clear"></div>
    </div>
    <section id="stuck_container">