{% extends 'base.html' %}

{% load static %}

{% block title %}| Login {% endblock %}

{% block content %}

 <!-- ======= Section ======= -->
 <section id="login" class="contact section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Login</h2>
      <p>Member Login</p>
    </div>

    <div class="row">

      <div class="col-lg-6">

        <div class="row">
          <div class="col-md-12">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>1004 Estates, Victoria Island, Lagos</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>stcharlesborromeo1004@gmail.com<br></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+234 9096844458</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">   
       
          <div class="card">
           
            <div class="card-body">        
             <!--Alerts-->
             {% include 'partials/_alerts.html' %}
             <form action="{% url 'login' %}" method="POST">
               {% csrf_token %}
               <div class="form-group">
                 <label for="username">Username</label>
                 <input type="text" name="username" class="form-control" required>
               </div>

               <div class="form-group">
                 <label for="password2">Password</label>
                 <input type="password" name="password" class="form-control" required>
               </div>
               <input type="submit" value="Login" class="btn btn-secondary btn-block">
               
              
             </form>
             <br/>
             <div>Not yet a registered?<a href="{% url 'register' %}#register"> Register Here </a></div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Section -->



  {% endblock %}