{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--=====================
          Content
======================-->
<section id="content"><div class="ic"></div>
<article class="carousel_wrapper">
    <div class="container_12">
      <div class="grid_4">
        <div class="banner">
          <a href="#" class="banner_title">Church Event <br>
  Schedule</a>
          <div class="maxheight"><img src="{% static 'img/icon1.png' %}" alt="" ></div>
      </div>
    </div>
      <div class="grid_4">
        <div class="banner">
          <a href="#" class="banner_title">Biblical <br>
  Counseling</a>
          <div class="maxheight"><img src="{% static 'img/icon2.png' %}" alt=""></div>
        </div>
      </div>
      <div class="grid_4">
        <div class="banner">
          <a href="#" class="banner_title">Children's <br>
            Catechism</a>
          <div class="maxheight"><img src="{% static 'img/icon3.png' %}" alt=""></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
</article>
    <article class="block-1">
      <div class="container_12">
        <div class="grid_12">
          <h2>Meet Our Beloved Reverends</h2>
        </div>
        <div class="grid_4">
          <img src="{% static 'img/page1_img1.jpg' %}" alt="">
          <div class="extra_wrapper">
            <div class="block-1_title"><a href="#">Rev. Michael Da Archangel</a></div>
            Lorem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit... 
          </div>
        </div>
        <div class="grid_4">
          <img src="{% static 'img/page1_img2.jpg' %}" alt="">
          <div class="extra_wrapper">
            <div class="block-1_title"><a href="#">Rev. Alexander Da Great</a></div>
            Korem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sito... 
          </div>
  
        </div>
       <div class="grid_4">
          <img src="" alt="">
          <div class="extra_wrapper">
            <div class="block-1_title"><a href="#"></a></div>
            
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </article>
    <div class="container_12">
      <div class="grid_6">
        <div class="block-2">
          <img src="{% static 'img/b_icon1.png' %}" alt="">
          <div class="text1"><a href="#">I’m New Here</a></div>
          Amus at magna non nunc tristique rhoncus. Aliquam nibh antegestas id dictum a, commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id laoreeto 
        </div>
      </div>
      <div class="grid_6">
        <div class="block-2">
          <img src="{% static 'img/b_icon2.png' %}" alt="">
          <div class="text1"><a href="#">Care Ministries</a></div>
          Rmus at magna non nunc tristique rhoncus. Aliquam nibh antegestas id dictum a, commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id laoreet 
        </div>
      </div>
      <div class="grid_6">
        <div class="block-2">
          <img src="{% static 'img/b_icon3.png' %}" alt="">
          <div class="text1"><a href="#">Prayer Request</a></div>
          Hemus at magna non nunc tristique rhoncus. Aliquam nibh antegestas id dictum a, commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id laoreeti 
        </div>
      </div>
      <div class="grid_6">
        <div class="block-2">
          <img src="{% static 'img/b_icon4.png' %}" alt="">
          <div class="text1"><a href="#">Audio Podcasts</a></div>
          Emus at magna non nunc tristique rhoncus. Aliquam nibh antegestas id dictum a, commodo luctus libero. Praesent faucibus malesuada faucibus. Donec laoreet metus id laoree 
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear sep-1"></div>
    <article class="carousel_wrapper">
      <div class="container_12">
        <div class="grid_12">
          <div id="owl">
            <div class="item">
              <div class="banner">
                <div class="banner_title">July 25</div>
                <p>The detailed description of the <a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow" class="color2">freebie</a> is published on the blog. <br><br>
                Find <a href="http://www.templatemonster.com/properties/topic/society-people/" rel="nofollow" class="color2">society &amp; people themes</a> in the same name category at TemplateMonster.com</p>
                <a href="#" class="owl_link">Read More</a>
              </div>
            </div>
            <div class="item">
              <div class="banner">
                <div class="banner_title">August 17</div>
                
                <p>Horem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit wertolio mero dasererat rutrumrem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis</p>
                <a href="#" class="owl_link">Read More</a>
              </div>
            </div>
            <div class="item">
              <div class="banner">
                <div class="banner_title">September 10</div>
                <p>Jorem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit wertolio mero dasererat rutrumrem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisise </p>
                <a href="#" class="owl_link">Read More</a>
              </div>
            </div>
            <div class="item">
              <div class="banner">
                <div class="banner_title">July 25</div>
                <p>The detailed description of the <a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow" class="color2">freebie</a> is published on the blog. <br><br>
                Find <a href="http://www.templatemonster.com/properties/topic/society-people/" rel="nofollow" class="color2">society &amp; people themes</a> in the same name category at TemplateMonster.com</p>
                <a href="#" class="owl_link">Read More</a>
              </div>
            </div>
            <div class="item">
              <div class="banner">
                <div class="banner_title">August 17</div>
                
                <p>Horem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit wertolio mero dasererat rutrumrem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis</p>
                <a href="#" class="owl_link">Read More</a>
              </div>
            </div>
            <div class="item">
              <div class="banner">
                <div class="banner_title">September 10</div>
                <p>Jorem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit wertolio mero dasererat rutrumrem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisise </p>
                <a href="#" class="owl_link">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </article>
  </section>

{% endblock %}