/****Form

#form {
	position: relative;
	padding-top: 7px;
}

#form * {
	z-index: 5;
}

#form .form_spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: hidden;
	width: 0;
	height: 0;
	z-index: 10;
	background: #fff;
	transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

#form.processing .form_spinner {
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
}

.form_spinner img {
	width: 30px;
	height: 30px;
	left: 50%;
	margin-left: -15px;
	top: 50%;
	margin-top: -15px;
	position: absolute;
	content: '';
}
****/

